<mat-toolbar color="primary" class="toolbar">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon class="icon-color">menu</mat-icon>
  </button>
  <span class="app-title">Senior Suggestion Service</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen" class="sidenav">
    <mat-nav-list>
      <a class="list-item" mat-list-item routerLink="/hr" (click)="closeMenu()">
        <span class="item-text">HR</span>
      </a>
      <a class="list-item" mat-list-item routerLink="/candidate" (click)="closeMenu()">
        <span class="item-text">Candidate</span>
      </a>
      <a class="list-item" mat-list-item routerLink="/management" (click)="closeMenu()">
        <span class="item-text">Management Dashboard</span>
      </a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content class="sidenav-content">
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
