<mat-toolbar color="primary">
  <button mat-icon-button (click)="toggleMenu()">
    <mat-icon>menu</mat-icon>
  </button>
  <span class="app-title">{{getTitle()}}</span>
</mat-toolbar>

<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" [(opened)]="menuOpen">
    <mat-nav-list>
      <a mat-list-item routerLink="/hr" (click)="closeMenu()">HR</a>
      <a mat-list-item routerLink="/candidate" (click)="closeMenu()">Candidate</a>
      <a mat-list-item routerLink="/management" (click)="closeMenu()">Management Dashboard</a>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
