
<form [formGroup]="candidatesForm" class="candidate-form margin-offset">
  <mat-form-field class="full-width">
    <mat-label>Senior candidate</mat-label>

    <input class="color-primary"
           type="text"
           matInput
           formControlName="userEmail"
           [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCandidateChange($event)">
      @for (candidate of filteredCandidates | async; track candidate) {
      <mat-option [value]="candidate">{{ candidate }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="showData()" class="screen">
  <h2 class="category-title">General Data</h2>

  <div class="card">
    <div class="subheading">Name</div>
    <p class="">{{namePrint()}}</p>
  </div>

  <div class="card">
    <div class="subheading">Age</div>
    <p class="">{{agePrint()}}</p>
  </div>

  <div class="card">
    <div class="subheading">Experience since</div>
    <p class="">{{experiencePrint()}}</p>
  </div>

  <div class="card">
    <div class="subheading">Start at PRODYNA</div>
    <p class="">{{prodynaStartPrint()}}</p>
  </div>

  <div class="card">
    <div class="subheading">Abstract</div>
    <p class="">{{abstractPrint()}}</p>
  </div>

  <h2 class="category-title">Performance</h2>
  <div class="rating-table">
    <ng-container *ngFor="let ratingCard of currentCandidate?.ratings">
      <div class="rating-row-title">
        {{ ratingCard.category }}
      </div>
      <div class="rating-graphic">
        <app-rating-graphic
          [currentRating]="getCurrentRating(ratingCard)"
          [comparisonRating]="getAverageRating(ratingCard)">
        </app-rating-graphic>
      </div>
    </ng-container>
  </div>
</div>


