<form [formGroup]="candidatesForm" class="candidate-form margin-offset">
  <mat-form-field class="full-width">
    <mat-label>Senior candidate</mat-label>

    <input class="color-primary"
           type="text"
           matInput
           formControlName="userEmail"
           [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCandidateChange($event)">
      @for (candidate of filteredCandidates | async; track candidate) {
      <mat-option [value]="candidate">{{ candidate }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>
</form>

<div *ngIf="showData()">
  <h2 class="category-title">General Data</h2>

  <div class="card">
    <div class="subheading">Name</div>
    <p class="">{{namePrint()}}</p>
  </div>

  <h2 class="category-title">Performance</h2>

</div>


