<form [formGroup]="candidatesForm" class="candidate-form margin-offset">
  <mat-form-field class="full-width">
    <mat-label>Senior candidate</mat-label>

    <input class="color-primary"
      type="text"
      matInput
      formControlName="userEmail"
      [matAutocomplete]="auto">

    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="onCandidateChange($event)">
      @for (candidate of filteredCandidates | async; track candidate) {
        <mat-option [value]="candidate">{{ candidate }}</mat-option>
      }
    </mat-autocomplete>
  </mat-form-field>

  <div>
    <mat-slide-toggle formControlName="hideCandidateInfo">
      Hide candidate info
    </mat-slide-toggle>
    <mat-slide-toggle formControlName="hideRating">
      Hide rating
    </mat-slide-toggle>
    <button mat-raised-button color="accent" [disabled]="!isSaveButtonEnabled()" (click)="save()">Save</button>
  </div>
</form>

<form *ngIf="headDataForm" [formGroup]="headDataForm" class="rating-form head-data-form">
  <div class="button-group">
    <mat-slide-toggle formControlName="agreedOn">
      Agreed on
    </mat-slide-toggle>
  </div>
  <h2 class="category-title">General Data</h2>
  <div class="rating-card margin-offset">
      <div class="subheading">Name</div>
      <mat-form-field class="full-width">
        <div class="inputs">
          <input matInput [formControlName]="'name'">
        </div>
      </mat-form-field>
    <div class="subheading">Experience since</div>
      <mat-form-field class="full-width">
        <input matInput [formControlName]="'experienceSince'" type="date">
      </mat-form-field>
    <div class="subheading">Start at PRODYNA</div>
      <mat-form-field class="full-width">
        <input matInput [formControlName]="'startAtProdyna'" type="date">
      </mat-form-field>
    <div class="subheading">Age</div>
      <mat-form-field class="full-width">
        <input matInput [formControlName]="'age'" type="number">
      </mat-form-field>
    <div class="subheading">Abstract</div>
      <mat-form-field class="full-width">
        <textarea matInput [formControlName]="'abstract'" placeholder="Please provide a management abstract why this colleague should be awarded senior status"></textarea>
      </mat-form-field>
  </div>
</form>

<form *ngIf="ratingForm" [formGroup]="ratingForm" (ngSubmit)="save()" class="rating-form">
  <ng-container *ngFor="let category of categories">
    <h2 class="category-title">{{ category }}</h2>
    <ng-container *ngFor="let rating of getRatingsOfCategory(category); let index = index">
      <div class="rating-card">
        <p class="question">{{ rating.question }}</p>

        <div class="rating-content">
          <div class="answers">
            <div class="subheading" [class.hidden]="hideCandidateAnswers()">Candidate's Answer</div>
            <div class="inputs" [class.hidden]="hideCandidateAnswers()">
              <mat-form-field class="full-width">
                <textarea matInput [formControlName]="'response_candidate_' + rating.ratingCardId"></textarea>
              </mat-form-field>
              <div>
                <mat-checkbox [formControlName]="'not_applicable_candidate_' + rating.ratingCardId">
                  not applicable
                </mat-checkbox>
                <app-rating-slider [formControlName]="'rating_candidate_' + rating.ratingCardId"></app-rating-slider>
              </div>
            </div>

            <div class="subheading">Your Answer</div>
            <div class="inputs">
              <mat-form-field class="full-width">
                <textarea matInput [formControlName]="'response_employer_' + rating.ratingCardId" placeholder="Your answer"></textarea>
              </mat-form-field>
              <div>
                <mat-checkbox [formControlName]="'not_applicable_employer_' + rating.ratingCardId">
                  not applicable
                </mat-checkbox>
                <app-rating-slider [formControlName]="'rating_employer_' + rating.ratingCardId"></app-rating-slider>
              </div>
            </div>
          </div>

          <ng-container *ngIf="!hideRatings()">
            <div class="rating-label">
              <div class="subheading">Rating</div>
              <app-rating-graphic
                [currentRating]="getCurrentRating(rating.ratingCardId)"
                [comparisonRating]="getComparisonRating(rating.ratingCardId)">
              </app-rating-graphic>
            </div>
          </ng-container>
        </div>
      </div>

    </ng-container>
  </ng-container>
</form>

