<form *ngIf="ratingForm" [formGroup]="ratingForm" (ngSubmit)="onSubmit()">
  <mat-form-field>
    <input matInput formControlName="email" placeholder="Your email"/>
  </mat-form-field>
  <ng-container *ngFor="let category of categories">
    <h2>{{ category }}</h2>
    <ng-container *ngFor="let rating of getRatingsOfCategory(category); let index = index">
      <div class="rating-card">
        <p class="question">{{ rating.question }}</p>

        <div class="inputs">
          <mat-form-field>
            <textarea matInput [formControlName]="'response_' + rating.ratingCardId" placeholder="Your answer"></textarea>
          </mat-form-field>
          <app-rating-slider [formControlName]="'rating_' + rating.ratingCardId"></app-rating-slider>
        </div>
      </div>
    </ng-container>
  </ng-container>

  <div class="button-group">
    <button mat-raised-button color="accent" [disabled]="!ratingForm.valid">Submit</button>
  </div>
</form>
