
<form [formGroup]="form" (ngSubmit)="onSubmit()" class="form-container">

  <ng-container *ngFor="let categoryArrangement of getArrangements()">
    <h2>{{categoryArrangement.name}}</h2>
    <div formArrayName="ratingCards" *ngFor="let card of getSortedCategoryCards(categoryArrangement.category); let i = index">
      <p>{{card.value.question}}</p>
      <div [formGroupName]="i" class="rating-card">
        <mat-form-field appearance="fill">
          <input matInput formControlName="textResponse" placeholder="Enter text response">
        </mat-form-field>

        <mat-form-field appearance="fill">
          <input matInput type="number" formControlName="rating" placeholder="Enter rating (0-5)">
        </mat-form-field>
      </div>
    </div>


  </ng-container>

  <div class="button-group">
    <button mat-button color="warn" type="button" (click)="clearForm()">Clear</button>
    <button mat-raised-button color="primary" type="button" (click)="saveForm()">Save</button>
    <button mat-raised-button color="accent" type="submit">Submit</button>
  </div>
</form>
